@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  font-family: 'Source Sans Pro', sans-serif;
}

// .home-background {
//   background-position: center top;
//   background-image: url(image_path("under-chicago.jpg"));
//   background-repeat:no-repeat;
//   background-size: 100%;
//   height: 800px;
// }

.regulators-mount-up {
  width:1180px;
  height: 20px;
  img {
    width:105.5%;
  }
  // position: fixed;
  // top: 0px;
  // font-size: 1.2em;
  // right: 200px;
  // color: #DFF;
}

.dpp-login {
  margin-top: 850px;
  padding: 200px;
}
.splash {
  opacity: .2;
}

.picture {
  height: 700px;
  margin-top: 30px;
  position: absolute;
  top:40px;
  left: 200px;
  z-index: 100;
}

// .splish {
//   opacity: .2;
//   -moz-transform: scaleX(-1);
//     -o-transform: scaleX(-1);
//     -webkit-transform: scaleX(-1);
//     -ms-transform: scaleX(-1);
//     transform: scaleX(-1);
//     -ms-filter: "FlipH";
//     filter: FlipH;
// }

// .bottom-feeder {
//   -moz-transform: scaleY(-1);
//   -o-transform: scaleY(-1);
//   -webkit-transform: scaleY(-1);
//   transform: scaleY(-1);
//   filter: FlipV;
//   -ms-filter: "FlipV";
// }

// .spinsies {
//   -webkit-transform: rotate(180deg);
//   -moz-transform: rotate(180deg);
//   -o-transform: rotate(180deg);
//   -ms-transform: rotate(180deg);
//   transform: rotate(180deg);
// }

// .twenty {
//   img {
//     opacity: .2;
//   }
// }

.login-page {
  height: 2000px;
  background-image: url(image_path('login.jpg'));
  background-size: 100%;
  background-repeat: no-repeat;
}

.log-box-outer {
  position: relative;
  display: block;
   z-index: 1;
}

$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;

.log-box-inner {
  z-index: 1;
  position: absolute;
  display: block;
  height: 380px;
  width: 250px;
  margin-top: 10px;
  background-color: rgb($red, $green, $blue);
  opacity: .2;
  float: left;
}

.login-form {
  float: left;
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 10;
  padding: 20px;
}
