!!!
%html
  %head
    %title DppApi
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      .login-page
        .row
          .col-md-12
            .log-box-outer
              .log-box-inner  
            .login-form
              = yield

