!!!
%html
  %head
    %title DppApi
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = include_ember_script_tags :dpp_ui
    = include_ember_stylesheet_tags :dpp_ui
    = csrf_meta_tags
  %body
    .container
      = yield

